.jumbotron {
    text-align: center;
    padding-top: 1%;
    padding-bottom: 20px;
    background: none;
}

.jumbotron-fluid {
    margin-left: auto;
    margin-right: auto;
}

ul {
    list-style-type: none;
    text-align: center;
}

li {
    display:inline;
}

h3 {
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
}

h2 {
   margin: 20px;
}

.finish {
    margin-top: 20px;
}

.main-container {
    margin-bottom: 50px;
   
}

body { 
     background: url("../images/soccer-background.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.text {
    /* background-color: black; */
    /* color:red;  */
    color:white; 
    text-align: center;
}

.overlay {
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.5)
}
.button {
    color: black;
}

.main-container {
    display: none;
}

/* .time-remaining {
    display: none;
}

.question1, .question2, .question3 {
    display: none;
} */

footer {
    position: fixed;
    height: 5%;
    bottom: 0;
    width: 100%;
    
}