.jumbotron {
    text-align: center;
    padding-bottom: 20px;
    background: none;
}

.jumbotron-fluid {
    margin-left: auto;
    margin-right: auto;
}

ul {
    list-style-type: none;
    text-align: center;
}

li {
    display:inline;
}

h3 {
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
}

h2 {
   margin: 20px;
}

.finish {
    margin-top: 20px;
}

.main-container {
    margin-bottom: 50px;
   
}

body { 
     background: url("../images/soccer-ball-background.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.text {
    background-color: black;
    color:red; 
    text-align: center;
}
